.body {
  width: 220px;
  height: 330px;
  cursor: pointer;
}

.link {
  position: relative;
  display: block;
  width: 220px;
  height: 320px;
}

.poster {
  border-radius: 6px;
}


.title {
  font-size: 17px;
}