.body {
  margin: 10px 15px;

  .title {
    font-size: 18px;
  }
}

.label {
  margin: 10px 5px;
  display: flex;
}

.text {
  position: relative;
  padding-left: 30px;

  &:before {
    display: inline-block;
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 12px;
    border: 2px solid #afaeae;
    position: absolute;
    top: 0;
    left: 0;
  }

  &::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 10px;
    background: #3e6dfa;
    top: 12px;
    left: 12px;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .2s;
  }
}

.radio {
  display: none;

  &:checked + .text::after {
    opacity: 1;
  }
}