.body {
  width: 120px;
  height: 34px;
  background: #014989;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  border-radius: 17px;
  border: none;
  box-shadow: 3px 3px 10px 1px #b8b7b7;
  cursor: pointer;
}