.body {
  width: 1350px;
  height: 700px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  background: gainsboro;

  .poster {
    width: 300px;
    height: 480px;
    border-radius: 5px;
    margin-right: 30px;
  }

  h1 {
    margin: 30px 20px 5px 0px;
    font-size: 37px;
  }

  .engTitle {
    margin: 10px 20px 10px 0px;
    font-size: 14px;
  }

  h2 {
    margin: 50px 20px 40px 0px;
  }

  .info {
    width: 900px;
    height: 500px;

    ul {

      li {
        margin: 15px 0;
        display: flex;


        .property {
          display: block;
          width: 330px;
        }
        .meaning {

        }
      }
    }
  }
}

