.body {
  width: 1000px;
  padding-left: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.loader {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin-top: 70px;
  position: fixed;
}