
.ad {
  width: 1080px;
  height: 450px;
  margin: 0 auto;
  margin-top: 70px;
  img {
    width: 1190px;
    height: 430px;
    border-radius: 5px;
  }

  .title {
    color: white;
    position: absolute;
    font-size: 40px;
    transform: translateY(300px) translateX(50px);

  }
}

.topBlock {
  width: 1200px;
  margin: 60px;

  h1{

  }
}

