.body {
  padding: 6px;
}


.title {
  font-size: 20px;
  padding: 9px;
}

.ratingSelectors {
  display: flex;
  flex-wrap: nowrap;
}

.text {
  width: 120px;
  height: 32px;
  margin-left: 10px;
  outline: none;
  padding-left: 5px;
}