.material {
  width: 99vw;
  height: 80px;
}

.background {
  width: 99vw;
  height: 80px;
  background: black;
  position: fixed;
  margin-bottom: 80px;
  z-index: 5;

  .header {
    width: 1400px;
    margin: 0 auto;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  color: white;
  font-size: 37px;
  font-weight: bold;
}

