.body {
  width: 370px;
  height: 700px;
  position: absolute;
  background: white;
  margin-top: 10px;
  border-radius: 7px;
  box-shadow: 3px 0px 12px 4px grey;

  .searchResults {
    height: 100px;
  }

  .movies {
    height: 300px;
  }

  .persons {
    height: 300px;
  }
}