.body {
  width: 370px;
  max-height: 820px;
  position: absolute;
  background: #ffffff;
  margin-top: 10px;
  border-radius: 7px;
  box-shadow: 3px 0 12px 4px grey;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.typeSwitcher {
  width: 350px;
  display: flex;
  margin: 15px 0;
  justify-content: space-around;
}

.typeButton {
  width: 80px;
  height: 30px;
  cursor: pointer;
  background: white;
  border: none;
  box-shadow: 3px 3px 10px 1px #b8b7b7;
  border-radius: 3px;
  color: #014989;
  font-size: 14px;
  font-weight: bold;
  transition-property: color, background-color;
  transition-duration: .3s;
  &:hover {
    color: white;
    background: #014989;
  }
}

.active {
  color: white;
  background: #000000;
}

.items {
  width: 350px;
}

.loader {
  width: 100px;
  height: 100px;
  margin: 50px 125px;
}