.body {
  width: 370px;
  height: 820px;
  position: absolute;
  background: #ffffff;
  margin-top: 10px;
  border-radius: 7px;
  box-shadow: 3px 0px 12px 4px grey;

  .searchResults {
    margin: 10px 0px;
    height: 130px;
    border-bottom: 1px solid #e2e2e2;
  }

  .movies {
    margin: 10px 0px;
    height: 330px;
    border-bottom: 1px solid #e2e2e2;
  }

  .persons {
    margin: 10px 0px;
    height: 330px;
  }
}

.searchTitle {
  font-size: 12px;
  color: #a3a3a3;
  margin: 15px;
}
