.container {
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: end;
}

.body {
  width: 120px;
  height: 40px;
  background: #014989;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  box-shadow: 3px 3px 10px 1px #b8b7b7;
  cursor: pointer;
  transition-property: background, color, width, height;
  transition-duration: .2s;
  &:hover {
    background: #ffffff;
    color: #014989;
  }
}

.pressed {
  background: white;
  width: 70px;
  height: 40px;
  transition-property: width, height, color;
  transition-duration: .1s;
}

.red {
  color: #fd6602;
  transition-property: color;
  transition-duration: .3s;
}