.body {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.player {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: #000000;
  justify-content: center;
  flex-wrap: wrap;
}

.header {
  width: 100vw;
  height: 7vh;
  background: #0c0a0a;
  display: flex;
  align-items: center;
}

.title {
  color: white;
  font-size: 15px;
  font-weight: 100;
}

.backButton {
  width: 80px;
  height: 43px;
  background: none;
  color: white;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.video {
  width: 100vw;
  height: 85vh;
  background: #343131;
}
