.body {
  width: 1200px;
  margin: 0 auto;
  margin-top: 45px;

  h1 {
    font-size: 30px;
    padding: 0 9px;
  }
}

.rewiewBlock {
  display: flex;
  margin: 10px;


  .ratingsBlock{
    width: 200px;
    height: 500px;
  }
}

.reviews {
  width: 850px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .showButton {
    width: 400px;
    height: 35px;
    cursor: pointer;
    border: none;
    font-size: 17px;
    font-weight: bold;
    background: #212fa1;
    border-radius: 6px;
    color: white;
    margin-bottom: 40px;
  }
}